<nav>
  <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a [routerLink]=" ['./detail'] " routerLinkActive="active">Detail</a>
  <a [routerLink]=" ['./barrel'] " routerLinkActive="active">Barrel</a>
  <a [routerLink]=" ['./rest-test'] " routerLinkActive="active">REST Test</a>
  <a [routerLink]=" ['./about'] " routerLinkActive="active">About</a>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <span>WebPack Angular 2 Starter</span>
  <div>
    <a [href]="url">
      <img [src]="angularLogo" width="25%">
    </a>
  </div>
</footer>
