<div class="card-container">
  <h1 x-large class="sample-content">Your Content Here</h1>

  <hr>

  <div>
    For development build with hot module reloading run
    <pre>SET ASPNETCORE_ENVIRONMENT=Development</pre>
    <pre>dotnet run</pre>
  </div>

  <hr>

  <h4>Local State</h4>

  <div>
    <input
      [value]="localState.value"
      (input)="localState.value = $event.target.value"
      placeholder="Submit Local State to App State"
      autofocus>

    <pre>this.localState = {{ localState | json }}</pre>
  </div>
</div>